@import "../scss/variables";

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/image7.jpeg");
  background-position: center;
  background-size: cover;
  width: 100%;

  .contact-text {
    padding: 10px;
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media screen and (min-width: 680px) {
      width: 80%;
    }
    @media screen and (min-width: 1200px) {
      max-width: 500px;
    }
  }
  .contact {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.818);
    align-items: center;
    padding-bottom: 5rem;
    @media screen and (min-width: 680px) {
      width: 50%;
    }
    @media screen and (min-width: 1200px) {
    }
  }
  .link-p {
    color: black;
  }

  a {
    color: $primary-color;
    padding: 5px;
    font-size: 2rem;
    display: flex;
    text-decoration: none;

    &:hover {
      scale: (1.05);
    }
  }

  .icons-wrapper {
    padding: 2rem;
    .link-p {
      font-size: 16px;
      margin: 10px;
    }
  }
  .icons-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 4rem;
  }
  .icons-box {
    display: flex;
    width: 50%;
  }
  .form-wrapper {
    @media screen and (min-width: 680px) {
      width: 80%;
    }
    @media screen and (min-width: 1200px) {
      max-width: 500px;
    }
  }

  .portrait {
    margin-top: 3rem;
    padding: 1rem;
  }
}
