@import "/src/scss/variables";

.gallery-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 247, 247);
  min-height: 91vh;
}
.total-images {
  width: 100%;
  text-align: left;
  @media screen and (min-width: 680px) {
    width: 85%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1000px;
  }
}

.image-wrapper {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column-reverse; // ta bort för att ha bilderna i toppen
  justify-content: space-between;
  // height: 100%;

  .boxbox {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: stretch;
    // height: 100%;
  }

  .image-inner {
    /* min-height: 160px; */
    flex-grow: 1;
  }
  .image-box {
    width: 100%;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .title {
    margin: 0;
  }
  .price {
    margin: 0;
  }
  button {
    border-radius: 6px;
    background-color: $primary-color; //rgb(109, 109, 109);
    border-color: black;
    color: white;
    cursor: pointer;
    font-size: 12px;

    &:hover {
      background-color: rgb(224, 224, 224);
      color: rgb(69, 69, 69);
    }
  }
}
.reset-button-wrapper {
  .reset-button {
    cursor: pointer;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  // height: 100%;
  background-color: rgb(255, 255, 255);

  // padding: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 5px;

  @media screen and (min-width: 680px) {
    width: 80%;
    padding: 2rem;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1000px;
  }
}

.sold-sticker {
  position: absolute;
  top: 1;
  left: 1;
  background-color: $secondary-color;
  color: white;
  padding: 1px;
  font-size: 12px;
  width: 40px;
  border-radius: 2px;
}

.categories-name {
  text-align: left;
  padding: 1rem;
}

.size {
  font-size: 12px;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;

  select {
    width: 120px;
    height: 30px;
    cursor: pointer;
  }
  label {
    padding: 5px;
  }
  option {
  }
}

.pagination-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 30px;

  border: 1px solid black;
  /*   .pagination-text {
    // padding-top: 30px;
  } */
  @media screen and (min-width: 680px) {
    width: 80%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1000px;
  }

  .pagination-buttons {
    // margin-top: 30px;
    padding: 3px;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    color: black;
    &:disabled {
      background-color: rgba(154, 153, 153, 0.469);
      color: rgba(0, 0, 0, 0.224);
    }
  }
}
.price-slider {
  width: 130px;

  label {
    display: block;
    padding: 10px;
  }

  span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
  }
  .rc-slider.rc-slider-horizontal {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.category-divider {
  display: flex;
  flex-direction: row;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;

  &.open {
    max-height: 500px;
    padding-bottom: 2rem;
  }
  @media screen and (min-width: 680px) {
    display: flex;
    flex-direction: row;
  }
}

.filters {
  padding: 2rem;
  font-size: 16px;
  display: flex;
  justify-content: center;

  .slider-icon {
    color: white;
  }
  .filters-button {
    border: 2px solid $secondary-color;
    background-color: $secondary-color;
    border-radius: 5px;
    padding: 3px;
    width: 150px;
    cursor: pointer;
  }
  .filter-span {
    color: white;
    margin-left: 10px;
  }
}
