@import "/src/scss/variables";

.main-wrapper {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  width: 100%;
  background-image: url("/assets/image9.jpg");
  background-position: center;
  h1 {
    text-shadow: 1px 1px 1px $secondary-color;
    // guttman Miryam
  }
  .title {
    font-family: "Hind Madurai", sans-serif;
  }
  h3 {
  }
  h4 {
    margin-bottom: 5px;
    margin-top: 10px;
  }

  img {
    width: 40px;
    height: 40px;
  }
  .event-image {
    width: 300px;
    height: 300px;
  }
  .event-description {
    padding: 1rem;
    padding-top: 0px;
    margin-top: 4px;
    font-size: 14px;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  width: 85%;
  background-color: rgba(255, 255, 255, 0.868);
  @media screen and (min-width: 680px) {
    width: 70%;
  }
  @media screen and (min-width: 900px) {
    width: 50%;
  }
}

/* .hero-image {
  width: 400px;
  height: 300px;
    background-image: url("/public/assets/event.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 5px solid rgb(101, 91, 126);
} */

.hero-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*  padding: 2rem; */
  padding-top: 10px;
  border-top: 2px solid $secondary-color;
  border-bottom: 2px solid $secondary-color;
  @media screen and (min-width: 680px) {
  }
}

h2 {
  padding: 1rem;
}

.image-p {
  padding-left: 1rem;
  padding-right: 1rem;
  @media screen and (min-width: 680px) {
    width: 50%;
  }
}
.joes-p {
  padding-top: 2rem;
}
.joes-loggo {
  margin-top: 2rem;
}
