@import "../scss/variables";

.view-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-bottom: 0;
  }
  p {
    width: 70%;
    margin: 5px;
  }
  img {
    width: 70%;
    border: 2px solid black;
  }
  .description {
    text-align: left;
  }
  .box-divider {
    display: flex;

    flex-direction: row;
    width: 70%;
    span {
      width: 100%;
      text-align: left;
      padding-top: 8px;
    }
    .type-names {
      width: 50%;
      font-size: 15px;
    }
  }
  .spacing {
    height: 4rem;
  }
  .contact-me {
    padding-top: 3rem;
    padding-bottom: 1rem;
    width: 70%;
    text-align: center;
    p {
      width: 100%;
    }
    a {
      color: $secondary-color;
      text-decoration: none;
    }
  }
}
