#root {
  margin: 0 auto;
}
body {
  margin: 0 auto;
  text-align: center;
}
.site-wrapper{
 min-height: 100vh;
 display: flex;
 flex-direction: column;

}
footer {
  margin-top: auto;
}
main {
  flex-grow: 1;
  display: flex;
}